<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Sample Node App</title>
  </head>
  <body>
    <main class="hero">
      <h1 class="head__primary">nodejs</h1>
      <p class="text-1 utility-margin">
        This tiny app is actually containerized in Docker. Can't believe it?
      </p>
      <h2 class="head__secondary utility-margin">index.html</h2>
      <p class="text-2 utility-margin">Enjoy, well, at least try to.</p>
      <h3 class="head__tertiary utility-margin">style.css</h3>
    </main>
  </body>
</html>
